EMAIL_SERVICE_API_KEY=
EMAIL_FROM=Karya Tracker <no-reply@karyatracker.app>
APP_URL=https://karya-tracker.web.app
FUNCTIONS_REMINDER_CRON_HOUR=19
FUNCTIONS_TIMEZONE=Asia/Jakarta
FUNCTIONS_REGION=asia-southeast2
